body {
    margin: 0;
    font-family: 'Open Sauce', sans-serif;
    overflow-x: hidden;
}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#page1 {
    background: url('IMG_1634.jpeg') no-repeat center center/cover;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
}

#page1 h1 {
    font-size: 55.7px;
}

#page1 h2 {
    font-size: 55.7px;
    position: relative;
    top: -30px;
}

#page2 {
    background-color: orange;
    color: white;
}

#page2 .content {
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
}

#page2 h1 {
    font-size: 60px;
}

#page2 h2 {
    font-size: 60px;
}

#page2 p {
    font-size: 26px;
    margin-top: 20px;
}

#page2 img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
